<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DBNativeWeb" value="Data Source=.; Initial Catalog=RYNativeWebDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBAccounts" value="Data Source=.; Initial Catalog=RYAccountsDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBPlatform" value="Data Source=.; Initial Catalog=RYPlatformDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBTreasure" value="Data Source=.; Initial Catalog=RYTreasureDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBRecord" value="Data Source=.; Initial Catalog=RYRecordDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=.; Initial Catalog=RYGameMatchDB; User ID=sa; Password=123456; Pooling=true" />
    <!-- 站点Cookie名 建议修改-->
    <add key="CookiesName" value="RYQIPAI" />
    <!-- 用户登录缓存KEY值 建议修改-->
    <add key="UserLoginCacheKey" value="RYLoginCacheKeyValue" />
    <!-- 用户登录Cookies过期时间 单位分钟 不建议修改-->
    <add key="UserLoginCacheTimeOut" value="30" />
    <!-- 用户登录Cookies值加密的KEY值 建议修改 -->
    <add key="UserLoginCacheEncryptKey" value="RYLoginCacheEncryptValue" />
    <!-- 同步登录MD5加密KEY值 如果修改游戏客户端也需修改-->
    <add key="SyncLoginKey" value="RYSyncLoginKey" />
    <!-- 同步登录链接过期时间 单位毫秒-->
    <add key="SyncUrlTimeOut" value="120000" />
    <!-- 帐号申诉加密KEY值 建议修改-->
    <add key="ReportForgetPasswordKey" value="ReportForgetPasswordKeyValue" />
    <!-- 是否开启移动版下载模块 0:不开启 1：开启-->
    <add key="IsShowMoblieDownload" value="1" />
    <!--易宝支付接口-->
    <add key="merhantId" value="Test" />
    <add key="keyValue" value="Test" />
    <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node" />
    <!-- 生产地址,正式上线使用 -->
    <!--易宝支付接口-->
    <!--声讯支付接口-->
    <add key="spId" value="Test" />
    <add key="spKeyValue" value="Test" />
    <add key="spName" value="藏宝库棋牌" />
    <!--声讯支付接口-->
    <!--苹果充值-->
    <add key="appUrl" value="https://sandbox.itunes.apple.com/verifyReceipt" />
    <!-- 测试地址，正式使用更新为https://buy.itunes.apple.com/verifyReceipt -->
    <!--苹果充值-->
    <!--竣付通充值-->
    <add key="jftBankID" value="10209517" />
    <add key="jftBankKey" value="677D2D68EE4E6CAD729A315F388D16E7" />
    <!--竣付通充值-->
    <!--支付宝官方-->
    <add key="ZFBPARTNER" value="Test" />
    <add key="ZFBKEY" value="Test" />
    <add key="ZFBPUBLICKEY" value="Test" />
    <!--支付宝官方-->
    <!--微信APP-->
    <add key="WXAPPID" value="Test" />
    <!--APPID-->
    <add key="WXMCHID" value="Test" />
    <!--商户号-->
    <add key="WXKEY" value="Test" />
    <!--商户支付密钥-->
    <add key="WXAPPSECRET" value="Test" />
    <!--公众帐号secert-->
    <!--微信APP-->
    <!--微信公众号(NATIVE,JSAPI)-->
    <add key="WXNATIVEAPPID" value="Test" />
    <!--APPID-->
    <add key="WXNATIVEMCHID" value="Test" />
    <!--商户号-->
    <add key="WXNATIVEKEY" value="Test" />
    <!--商户支付密钥-->
    <add key="WXNATIVESECRET" value="Test" />
    <!--公众帐号secert-->
    <!--微信公众号(NATIVE,JSAPI)-->
    <!-- 网站头部相关标签配置 -->
    <add key="keywords" value="cangbaoku " />
    <add key="description" value="藏宝库" />
    <add key="title" value="藏宝库" />
    <!-- 网站头部相关标签配置 -->
    <!-- 密保卡模版配置-->
    <add key="A1" value="9" />
    <add key="A2" value="15" />
    <add key="A3" value="24" />
    <add key="A4" value="268" />
    <add key="B1" value="1" />
    <add key="B2" value="88" />
    <add key="B3" value="25" />
    <add key="B4" value="76" />
    <add key="C1" value="185" />
    <add key="C2" value="28" />
    <add key="C3" value="65" />
    <add key="C4" value="205" />
    <add key="D1" value="72" />
    <add key="D2" value="39" />
    <add key="D3" value="11" />
    <add key="D4" value="31" />
    <add key="E1" value="52" />
    <add key="E2" value="220" />
    <add key="E3" value="7" />
    <add key="E4" value="105" />
    <add key="F1" value="99" />
    <add key="F2" value="117" />
    <add key="F3" value="93" />
    <add key="F4" value="18" />
    <!-- 密保卡模版配置-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="RemoteOnly" defaultRedirect="error.html">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <pages enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager, Version=7.2.0.0, Culture=neutral, PublicKeyToken=fb0a0fe055d40fd4" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".csb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ini" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".luac" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".plist" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android" />
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
  </system.webServer>
</configuration>
<!--ProjectGuid: 6792FAC0-99E4-46EE-9C04-33886903C667-->