<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ation_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,582},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>banker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{701,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{701,95}}</string>
                <key>sourceSize</key>
                <string>{703,95}</string>
            </dict>
            <key>bg_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1843},{444,64}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{444,64}}</string>
                <key>sourceSize</key>
                <string>{460,66}</string>
            </dict>
            <key>bt_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1693},{78,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,240}}</string>
                <key>sourceSize</key>
                <string>{78,240}</string>
            </dict>
            <key>btn_apply_banker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{247,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,61}}</string>
                <key>sourceSize</key>
                <string>{247,61}</string>
            </dict>
            <key>btn_apply_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1145},{247,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,61}}</string>
                <key>sourceSize</key>
                <string>{247,61}</string>
            </dict>
            <key>btn_applylist_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,582},{118,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>btn_applylist_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1048},{118,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>btn_cancel_apply_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1145},{247,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,61}}</string>
                <key>sourceSize</key>
                <string>{247,61}</string>
            </dict>
            <key>btn_cancel_apply_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1773},{247,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,61}}</string>
                <key>sourceSize</key>
                <string>{247,61}</string>
            </dict>
            <key>btn_cancel_banker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1630},{247,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,61}}</string>
                <key>sourceSize</key>
                <string>{247,61}</string>
            </dict>
            <key>btn_cancel_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1567},{247,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,61}}</string>
                <key>sourceSize</key>
                <string>{247,61}</string>
            </dict>
            <key>btn_return_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,204},{180,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,84}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>btn_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{180,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,84}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>btn_robbanker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,581},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>btn_robbanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,702},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>btn_set_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1270},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>btn_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1108},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>btn_userlist_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,66},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{138,84}</string>
            </dict>
            <key>btn_userlist_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,66},{136,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,84}}</string>
                <key>sourceSize</key>
                <string>{138,84}</string>
            </dict>
            <key>btn_xiala1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,772},{154,80}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{154,80}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>btn_xiala2.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,616},{154,80}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{154,80}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>clearing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,444},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{74,50}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>clearing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,782},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,36}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>clearing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,508},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,36}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>clearing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,406},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,36}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>clearing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,470},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,36}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>clearing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,204},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,36}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>clearing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,204},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,36}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>clearing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1991},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,36}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>game_ludan1_ping.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1843},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>game_ludan1_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1888},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>game_ludan1_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1866},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>game_ludan_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,988},{118,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>game_ludan_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,928},{118,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>gameend_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1221},{656,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,519}}</string>
                <key>sourceSize</key>
                <string>{656,519}</string>
            </dict>
            <key>h_jiangchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1839},{454,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,150}}</string>
                <key>sourceSize</key>
                <string>{454,150}</string>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1217,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1217,132}}</string>
                <key>sourceSize</key>
                <string>{1219,132}</string>
            </dict>
            <key>player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1991},{144,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,55}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
            <key>player_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1909},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>puck_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1145},{328,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,122}}</string>
                <key>sourceSize</key>
                <string>{328,122}</string>
            </dict>
            <key>puck_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1909},{328,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,122}}</string>
                <key>sourceSize</key>
                <string>{328,122}</string>
            </dict>
            <key>result_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,524},{194,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>result_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,466},{194,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>result_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,348},{194,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>result_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,290},{194,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>result_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,408},{194,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>result_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,146},{194,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>result_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,88},{194,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>room_button_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1216},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>room_button_bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,725},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>room_chip_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,820},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>room_chip_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,576},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>room_chip_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,661},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>room_chip_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,406},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>room_chip_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{118,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,62}}</string>
                <key>sourceSize</key>
                <string>{118,62}</string>
            </dict>
            <key>room_chip_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{118,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,62}}</string>
                <key>sourceSize</key>
                <string>{118,62}</string>
            </dict>
            <key>room_single_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1162},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{51,52}}</string>
                <key>sourceSize</key>
                <string>{67,84}</string>
            </dict>
            <key>sitdown_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,251},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>sp_applylist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{510,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,629}}</string>
                <key>sourceSize</key>
                <string>{510,629}</string>
            </dict>
            <key>sp_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1693},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>sp_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,546},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>sp_jetton_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1843},{170,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,30}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>sp_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1839},{498,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,2}}</string>
                <key>sourceSize</key>
                <string>{498,2}</string>
            </dict>
            <key>sp_rob.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,520},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>sp_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1475},{224,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{224,90}}</string>
                <key>sourceSize</key>
                <string>{226,92}</string>
            </dict>
            <key>sp_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1991},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>sp_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1991},{101,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,32}</string>
            </dict>
            <key>sp_tip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1991},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>sp_userlist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,633},{510,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,591}}</string>
                <key>sourceSize</key>
                <string>{510,591}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39655254fe4ec5c4cdf3a46755442fea$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
