<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ani_lighting_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1384},{367,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,316}}</string>
			<key>sourceSize</key>
			<string>{367,316}</string>
		</dict>
		<key>ani_lighting_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,862},{367,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,316}}</string>
			<key>sourceSize</key>
			<string>{367,316}</string>
		</dict>
		<key>ani_lighting_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,744},{367,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,316}}</string>
			<key>sourceSize</key>
			<string>{367,316}</string>
		</dict>
		<key>ani_lighting_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,544},{367,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,316}}</string>
			<key>sourceSize</key>
			<string>{367,316}</string>
		</dict>
		<key>ani_lighting_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,544},{367,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,316}}</string>
			<key>sourceSize</key>
			<string>{367,316}</string>
		</dict>
		<key>ani_lighting_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1015},{367,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,316}}</string>
			<key>sourceSize</key>
			<string>{367,316}</string>
		</dict>
		<key>ani_pk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{537,307}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{537,307}}</string>
			<key>sourceSize</key>
			<string>{537,369}</string>
		</dict>
		<key>ani_pk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1430,2},{537,351}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{537,351}}</string>
			<key>sourceSize</key>
			<string>{537,369}</string>
		</dict>
		<key>ani_pk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1411,726},{481,287}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,42},{481,287}}</string>
			<key>sourceSize</key>
			<string>{537,369}</string>
		</dict>
		<key>ani_pk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1076,235},{507,333}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,18},{507,333}}</string>
			<key>sourceSize</key>
			<string>{537,369}</string>
		</dict>
		<key>ani_pk_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,235},{533,307}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,31},{533,307}}</string>
			<key>sourceSize</key>
			<string>{537,369}</string>
		</dict>
		<key>ani_pk_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1411,355},{501,369}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{501,369}}</string>
			<key>sourceSize</key>
			<string>{537,369}</string>
		</dict>
		<key>ani_pk_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,744},{253,193}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{144,87},{253,193}}</string>
			<key>sourceSize</key>
			<string>{537,369}</string>
		</dict>
		<key>sp_pk_l.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,2},{712,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{712,231}}</string>
			<key>sourceSize</key>
			<string>{712,231}</string>
		</dict>
		<key>sp_pk_r.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{712,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{712,231}}</string>
			<key>sourceSize</key>
			<string>{712,231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pk_card.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7ead8154013f24f7c9d870516a333a46$</string>
		<key>textureFileName</key>
		<string>pk_card.png</string>
	</dict>
</dict>
</plist>
