<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plugin_lfdj/lf_an_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,171},{133,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,77}</string>
            </dict>
            <key>plugin_lfdj/lf_an_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,136},{133,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{133,73}}</string>
                <key>sourceSize</key>
                <string>{133,77}</string>
            </dict>
            <key>plugin_lfdj/lf_an_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,136},{133,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,77}</string>
            </dict>
            <key>plugin_lfdj/lfdj_cover_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,208},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>plugin_lfdj/lfdj_drag_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,132},{264,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,86}}</string>
                <key>sourceSize</key>
                <string>{264,86}</string>
            </dict>
            <key>plugin_lfdj/lfdj_flag_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{338,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,128}}</string>
                <key>sourceSize</key>
                <string>{338,128}</string>
            </dict>
            <key>plugin_lfdj/lfzst_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,132},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>plugin_lfdj/lfzst_xian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{6,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,65}}</string>
                <key>sourceSize</key>
                <string>{6,65}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,136},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,136},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{895,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{895,132}}</string>
                <key>sourceSize</key>
                <string>{907,132}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,208},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,136},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,136},{139,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,33}}</string>
                <key>sourceSize</key>
                <string>{139,33}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{159,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{159,99}}</string>
                <key>sourceSize</key>
                <string>{165,99}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,2},{315,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,246}}</string>
                <key>sourceSize</key>
                <string>{315,246}</string>
            </dict>
            <key>plugin_lfdj/xlf_tsd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{262,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,245}}</string>
                <key>sourceSize</key>
                <string>{262,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plugin_lfdj.png</string>
            <key>size</key>
            <string>{1820,250}</string>
            <key>smartupdate</key>
            <string>lede</string>
            <key>textureFileName</key>
            <string>plugin_lfdj.png</string>
        </dict>
    </dict>
</plist>
