.ui-rank-submenu {margin-bottom: 40px;}
.ui-rank-submenu a {
  display: block;
  width: 268px;
  height: 48px;
  font-size: 20px;
  color: #6c5bba;
  line-height: 48px;
  border: 1px solid #ad9ef3;
  margin-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 5px;
  background: url("/images/left_submenu.png") no-repeat;
  position: relative;
}
.ui-rank-submenu a:hover,
a.ui-submenu-active {
  text-decoration: none;
  background-color: #6c5bba;
  color: #fff;
}
.ui-submenu-1 a { background-position: 0 -2184px;}
.ui-submenu-2 a { background-position: 0 -2376px;}
.ui-submenu-3 a { background-position: 0 -2280px;}
.ui-submenu-1 a:hover,
.ui-submenu-1 a.ui-submenu-active { background-position: 0 -2232px;}
.ui-submenu-2 a:hover,
.ui-submenu-2 a.ui-submenu-active { background-position: 0 -2424px;}
.ui-submenu-3 a:hover,
.ui-submenu-3 a.ui-submenu-active { background-position: 0 -2328px;}

a.ui-submenu-active:before,
a.ui-submenu-active:after {
  content: "";
  position: absolute;
  top: 17px;
  width: 0;
  height: 0;
  border: 6px solid rgba(255, 255, 255, 0);
  border-right-width: 0;
}
a.ui-submenu-active:before {
  border-left-color: #ad9ef3;
  right: -7px;
}
a.ui-submenu-active:after {
  border-left-color: #6c5bba;
  right: -6px;
}
.ui-main-details {
  padding: 0 40px;
  width: 640px;
}

.ui-rank-list { padding: 24px 0 29px; }
.ui-rank-list table { width: 640px; }
.ui-rank-list th,
.ui-rank-list td {
  border: 1px solid #ddd;
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 12px;
  color: #333;
  cursor: default;
  padding: 0 5px;
}
.ui-rank-list th { background-color: #ededed; }
td.ui-color-green { color: #339933; }
td.ui-color-red { color: #ff0000; }
tr.ui-bg-color {background-color: #f9f9f9;}
.ui-rank-list tbody > tr:hover { background-color: #fff7d5; }

.ui-news-paging { margin-bottom: 40px; text-align: center; position: relative\9;}
.ui-news-paging a {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  color: #6c5bba;
  border: 1px solid #ad9ef3;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 4px;
}
.ui-news-paging a.ui-news-paging-prev,
.ui-news-paging a.ui-news-paging-next { width: 84px; }
.ui-news-paging a:hover,
a.ui-news-paging-active {
  color: #fff;
  background: #6c5bba;
  text-decoration: none;
}