@import "member-deposit.css";
.ui-transfer-way {margin: 0 0 20px 140px;}
.ui-transfer-way span { width: auto; }
.ui-main-details {padding-bottom: 40px;}
.ui-main-speedy {min-height: 753px; padding-bottom: 20px;}