@import "member-details.css";
.ui-tips p { padding-left: 50px; margin-bottom: 20px; }
.ui-tips h2 { margin-bottom: 20px; }
.ui-passwordcard table,
.ui-passwordcard-binding table { width: 670px; margin: 20px 0;}
.ui-passwordcard p,
.ui-passwordcard-binding p {text-align: center;}
.ui-passwordcard td,
.ui-passwordcard-binding td {
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #333;
  cursor: default;
  padding: 0 5px;
}
td.ui-font-weight { font-weight: bold; }
.ui-passwordcard tr:hover { background-color: #fffef9; }
tr.ui-title-bg { background-color: #ede9ff; }
tr.ui-tr-bg { background-color: #fdfcff; }
.ui-passwordcard-binding {padding: 20px 0;}
.ui-passwordcard-binding td {height: 40px; line-height: 40px;}


.ui-main-details {padding-bottom: 40px;}
.ui-main-speedy { min-height:837px; padding-bottom: 20px;}
