@import "member-details.css";
.ui-main-details {min-height: 665px; padding-bottom: 20px;}
.ui-member-password {text-align: center; margin-top: 50px;}
.ui-member-password label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 90px;
  text-align: right;
}
.ui-member-password li {margin-bottom: 20px;}
.ui-btn-1 {padding: 3px 20px;}