@charset "utf-8";
/*!
 * pull to refresh v2.0
 *author:wallace
 *2015-7-22
 */
.scroller {
  position: relative;
  z-index: 1;
  /*-webkit-touch-callout: none;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  padding: 0;
}
.scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}
.scroller li {
  min-height: 70px;
  background-color: #fafafa;
  font-size: 14px;
  padding: 5px;
}
.pullDown, .pullUp {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #888;
  font-family: Arial, Microsoft YaHei, serif;
}
.pullDown {
  top: -40px;
  left: 0;
}
.pullUp {
  bottom: -40px;
  left: 0;
}
.loader {
  font-size: 0;
  padding: 0;
  display: none;
}
.loader span {
  vertical-align: middle;
  border-radius: 100%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  -webkit-animation: loader 0.8s linear infinite alternate;
  animation: loader 0.8s linear infinite alternate;
}
.loader span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(245, 103, 115, 0.6);
}
.loader span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(245, 103, 115, 0.8);
}
.loader span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: rgba(245, 103, 115, 1);
}
.loader span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(245, 103, 115, 0.8);
}
.loader span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(245, 103, 115, 0.4);
}
@keyframes loader {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}
