<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,884},{186,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,80}}</string>
                <key>sourceSize</key>
                <string>{186,80}</string>
            </dict>
            <key>guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,884},{186,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,80}}</string>
                <key>sourceSize</key>
                <string>{186,80}</string>
            </dict>
            <key>set_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,46},{836,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,82}}</string>
                <key>sourceSize</key>
                <string>{836,82}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{868,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{868,476}}</string>
                <key>sourceSize</key>
                <string>{868,476}</string>
            </dict>
            <key>setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,24},{86,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,20}}</string>
                <key>sourceSize</key>
                <string>{86,20}</string>
            </dict>
            <key>setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{86,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,20}}</string>
                <key>sourceSize</key>
                <string>{86,20}</string>
            </dict>
            <key>switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,160},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>title_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{316,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,80}}</string>
                <key>sourceSize</key>
                <string>{316,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:069247c8222756808d15480379131e2c$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
