<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arm_tiao.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>arm_sg000.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>12</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>arm_sg001.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>arm_sg002.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>arm_sg003.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>438</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>arm_sg004.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>580</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>arm_sg005.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>arm_sg006.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>864</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>arm_stop0.png</string>
			<key>realTextureFileName</key>
			<string>arm_stop0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>