<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 站点Cookie名 建议修改-->
    <add key="CookiesName" value="RYQIPAI" />
    <!-- 管理员Session/Cookies键值 -->
    <add key="AppPrefix" value="RYCacheKey" />
    <!-- 管理员Session/Cookies的过期时间，单位分钟 -->
    <add key="UserCacheTimeOut" value="30" />
    <!-- 帐号申诉加密KEY值 建议修改-->
    <add key="ReportForgetPasswordKey" value="ReportForgetPasswordKeyValue" />
    <add key="IPDbFilePath" value="/ipconfig/ipdata.config" />
    <add key="DBNativeWeb" value="Data Source=.; Initial Catalog=RYNativeWebDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBPlatformManager" value="Data Source=.; Initial Catalog=RYPlatformManagerDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBPlatform" value="Data Source=.; Initial Catalog=RYPlatformDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBAccounts" value="Data Source=.; Initial Catalog=RYAccountsDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBTreasure" value="Data Source=.; Initial Catalog=RYTreasureDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBRecord" value="Data Source=.; Initial Catalog=RYRecordDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=.; Initial Catalog=RYGameMatchDB; User ID=sa; Password=123456; Pooling=true" />
    <!-- Chart控件使用 -->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=/TempImages/;" />
    <add key="CookiesName" value="" />
    <add key="CookiesExpireMinutes" value="" />
    <add key="CookiesPath" value="" />
    <add key="CookiesDomain" value="" />
    <!-- 授权码（取游戏授权文件Validate.ini里面节点ClientValidate的值）-->
    <add key="PrivateKey" value="" />
    <!-- API请求过期时间(秒)-->
    <add key="AllowTime" value="60" />
    <!-- 房卡配置功能 0 未开启  1 开启-->
    <add key="AllowRoomCard" value="1" />
    <!-- 上传文件命名序列号ID-->
    <add key="FileNameSequenceIDFilePath" value="/Config/FileSequenceID.INI" />
    <!-- 密保卡模版配置 -->
    <add key="A1" value="9" />
    <add key="A2" value="15" />
    <add key="A3" value="24" />
    <add key="A4" value="268" />
    <add key="B1" value="1" />
    <add key="B2" value="88" />
    <add key="B3" value="25" />
    <add key="B4" value="76" />
    <add key="C1" value="185" />
    <add key="C2" value="28" />
    <add key="C3" value="65" />
    <add key="C4" value="205" />
    <add key="D1" value="72" />
    <add key="D2" value="39" />
    <add key="D3" value="11" />
    <add key="D4" value="31" />
    <add key="E1" value="52" />
    <add key="E2" value="220" />
    <add key="E3" value="7" />
    <add key="E4" value="105" />
    <add key="F1" value="99" />
    <add key="F2" value="117" />
    <add key="F3" value="93" />
    <add key="F4" value="18" />
    <!-- 密保卡模版配置-->
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpRuntime />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="gsp" namespace="Wuqi.Webdiyer" assembly="AspNetPager, Version=7.2.0.0, Culture=neutral, PublicKeyToken=fb0a0fe055d40fd4" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpModules>
      <!--<add name="UCHttpModule" type="Game.Facade.UCHttpModule,Game.Facade"/>-->
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 11EB50F5-5784-42E5-A68D-E331E171F520-->