/* alice.base 样式模块 */

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  color: #000; background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote,
th, td, hr, button, article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary {
  margin: 0; padding: 0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, progress, video {
  display: inline-block; *display: inline; *zoom: 1; vertical-align: baseline; /* 2 */
}
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
  font: 14px/normal Microsoft Yahei, SimHei, tahoma, arial, Hiragino Sans GB, SimSun, sans-serif;
}
input, select, textarea {
  font-size: 100%;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse; border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}
/* 去除默认边框 */
fieldset, img {
  border: 0;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}
/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
  border: 0; font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol, ul {
  list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
  text-align: left;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before, q:after {
  content: '';
}
/* 统一上标和下标 */
sub, sup {
  font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* 正常链接 未访问 */
a:link {
  color: #0ae;
}
/* 鼠标悬停 */
a:hover {
  color: #0ae; text-decoration: underline;
  -webkit-tap-highlight-color: transparent
}
a:visited {
  color: #333;
}
/* 默认不显示下划线，保持页面简洁 */

ins, a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
/* 代码字体 */
code, kbd, pre, samp {
  font-family: monospace, serif; font-size: 1em;
}
/* 清理浮动 */
.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.fn-clear {
  zoom: 1; /* for IE6 IE7 */
}
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
  display: none;
}
/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
  display: inline;
}
.fn-left {
  float: left;
}
.fn-right {
  float: right;
}
/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fn-clean-space {
  font-size: 0;
  line-height: 0;
  word-spacing: 0;
  -webkit-text-size-adjust: none;
}
.menu {
  background: url(/image/menu_bg.png) no-repeat center/100% 100%; width: 25%;; z-index: 900; position: absolute; font-size: 1rem; top: 74%; left: 2%; color: #fff;
  padding: 0.5rem 0.25rem;
}
#menu li {
  padding: 0.5rem 0;
}
#menu li:last-child {
  border-bottom: none;
}
#menu li a {
  color: #f4f4f4;
  text-decoration: none;
}
#menu li > img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25rem;
  width: 20%;
}
#menu li a:hover {
  text-decoration: none;
}
/*input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: none;
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 241, 251, .5) inset !important;
}*/
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: none;
}
input::-webkit-input-placeholder { color: #666; }
input:-moz-placeholder { color: #666; }
input:-moz-placeholder { color: #666; }
input:-ms-input-placeholder { color: #666; }
