main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: #f3f3f3;
  max-width: 450px;
}
.ui-content {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 1rem;
}
.ui-content > div {
  text-align: center;
  width: 50%;
  font-size: 1rem;
  display: table-cell;
}
.ui-title{
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  font-size: 1rem;
  border-top: 1px solid #aab3b5;
  background: #ad98d6;
  border-bottom: 1px solid #aab3b5;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,.19) inset;
}
.ui-title > span {
  display: inline-block;
  vertical-align: middle;
  width: 4.5%;
  height: 50%;
  margin-right: 0.5rem;
}
.ui-title > span img{
  display: block;
  width: 100%;
  height: 100%;
}

form {
  margin: 2rem 0;
  text-align: center;
}
form label {
  display: table;
  width: 100%;
  padding-bottom: 2rem;
  height: 2rem;
}
form label > span {
  display: table-cell;
  width: 35%;
  text-align: right;
  font-size: 1rem;
  vertical-align: middle;
}
form label em {
  display: table-cell;
  height: 100%;
  text-align: left;
  vertical-align: middle;
  font-size: 1rem;
}
form label em span{
  font-size: 1rem;
}
form label em input {
  height: 2.25rem;
  width: 80%;
  text-indent: 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #999;
}
form label:nth-child(4){
  height: 2rem;
}
form label em textarea{
  width: 80%;
  height: 100%;
  border-radius: 5px;
  resize: none;
  text-indent: 1rem;
  outline: none;
}

form label input[type='submit'] {
  width: 66.8%;
  height: 3.5rem;
  border-radius: 5px;
  outline: none;
  background: url(/image/buy_submit.png) no-repeat center/100% 100%;
  color: #fff;
  text-indent: 0;
  border: none;
}
.ui-tip{
  font-size: 0.8rem;
  text-align: center;
}
