main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: #f3f3f3;
  max-width: 450px;
}
.ui-content {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 1rem 1rem;
}
.ui-content > div {
  width: 50%;
  font-size: 0.75rem;
  display: table-cell;
}
.ui-content > div > div {
  margin-bottom: 1rem;
}
.ui-leftBox > div, .ui-right > div {
  border-bottom: 1px solid #aab3b5;
}
.ui-title {
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  font-size: 1rem;
  border-top: 1px solid #aab3b5;
  background: #ad98d6;
  border-bottom: 1px solid #aab3b5;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,.19) inset;
}
.ui-title > span {
  display: inline-block;
  vertical-align: middle;
  width: 4.5%;
  height: 50%;
  margin-right: 0.5rem;
}
.ui-title > span img {
  display: block;
  width: 100%;
  height: 100%;
}
.ui-details {
  width: 100%;
}
.ui-details p {
  box-sizing: border-box;
  padding: 1rem 1rem 01rem;
  text-indent: 2rem;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  word-break:break-all;
}