html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
body a, img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
main{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 450px;
}
.ui-bg{
  width: 100%;
  position: absolute;
  z-index: -9999;
  max-width: 450px;
  left: 50%;
  transform: translateX(-50%);
}
.ui-bg img{
  width: 100%;
  display: block;
}
.ui-logo, .ui-title {
  width: 100%;
}
.ui-logo img {
  display: block;
  width: 19.5%;
  margin: 0.8rem auto;
}
.ui-title img {
  display: block;
  width: 69.5%;
  margin: 0.8rem auto 1rem;
}
form {
  width: 100%;
}
input {
  display: block;
  outline: none;
  width: 77.4%;
  height: 3.8rem;
  border: none;
  color: #fff;
  margin: 0 auto 2.5rem;
  position: relative;
  font-size: 1rem;
  text-indent: 3.5rem;
  background-color:transparent ;
  /*background: rgba(255, 241, 251, .5);*/
}
.ui-name{
  background: url("/image/input_name.png") no-repeat center/100% 100%;
}
.ui-password{
  background: url("/image/input_passwords.png") no-repeat center/100% 100%;
}
/*.ui-login-box .ui-user-info {

  border: 0.5rem solid rgba(255, 255, 255, .22);
  border-radius: 3rem;
  overflow: hidden;
}*/
/*.ui-user-info > label img {
  width: 100%;
  height: 100%;
}*/
.ui-identify {
  display: flex;
  width: 77.4%;
  margin: 0 auto 3rem;
  align-items: center;
  align-content: space-between;
}
.ui-identify .textCode {
  width: 40%;
  border: 0.35rem solid rgba(255, 255, 255, .22);
  border-radius: 2.5rem;
  font-size: 1rem;
  margin-right: 10%;
  overflow: hidden;
}
.ui-identify span {
  vertical-align: middle;
  width: 40%;
  height: 3rem;
  border-radius: 3rem;
  border: 0.35rem solid rgba(255, 255, 255, .22);
  overflow: hidden;
}
.ui-identify span img {
  width: 100%;
  height: 100%;
}
.ui-login-box .ui-identify input {
  text-align: center;
  width: 100%;
  height: 3rem;
  outline: none;
  padding: 0;
  background: rgba(235,225,255,0.5);
  text-indent: 0;
}

/*.ui-name::before {
  position: absolute;
  width: 20%;
  height: 95%;
  left: 0.25rem;
  top: 5%;
  content: "";
  background: url("/image/name.png") no-repeat center/75% 90%;
}*/
/*.ui-password::before {
  position: absolute;
  width: 20%;
  height: 95%;
  left: 0.25rem;
  top: 5%;
  content: "";
  background: url("/image/password.png") no-repeat center/75% 90%;
}*/
.ui-submit {
  width: 81.4%;
  margin: 0 auto;
  height: 4rem;
  padding: 0;
  text-align: center;
  background: url("/image/submit_btn.png") no-repeat center/100% 100%;
  border-radius: 4rem;
}
.ui-submit input {
  width: 100%;
  color: #fff;
  height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1rem;
  text-indent: 0;
}

@media only screen and (max-width: 320px) and (min-width: 310px) {
  html { font-size: 60% !important; -webkit-text-size-adjust: none; }

}
@media only screen and (max-width: 360px) and (min-width: 320px) {
  html { font-size: 80% !important; -webkit-text-size-adjust: none; }
  input{
    margin: 0 auto 2rem;
  }

}
@media only screen and (max-width: 410px) and (min-width: 360px) {
  html { font-size: 95% !important; -webkit-text-size-adjust: none; }
  input{
    margin: 0 auto 1.8rem;
  }
}
@media only screen and (max-width: 425px) and (min-width: 411px) {
  html { font-size: 100% !important; -webkit-text-size-adjust: none; }
}
@media only screen and (max-width: 470px) and (min-width: 425px) {
  html { font-size: 105% !important; -webkit-text-size-adjust: none; }
}
@media only screen and (max-width: 480px) and (min-width: 470px) {
  html { font-size: 110% !important; -webkit-text-size-adjust: none; }
}
@media only screen and (max-width: 560px) and (min-width: 480px) {
  html { font-size: 110% !important; -webkit-text-size-adjust: none; }

}
@media only screen and (max-width: 570px) and (min-width: 560px) {
  html { font-size: 110% !important; -webkit-text-size-adjust: none; }

}
@media only screen and (max-width: 640px) and (min-width: 570px) {

  html { font-size: 110%; }
}
@media only screen and (max-width: 640px) and (min-width: 630px) {
  html { font-size: 110% !important; -webkit-text-size-adjust: none; }

}
@media only screen and (max-width: 767px) and (min-width: 640px) {
  html { font-size: 110% !important; -webkit-text-size-adjust: none; }

}
@media only screen and  (min-width: 768px) {
  html { font-size: 145% !important; -webkit-text-size-adjust: none; }
  input{
    margin: 0 auto 1rem;
    height: 3rem;
  }
  .ui-identify{
    margin: 0 auto 2rem;
  }
  .ui-identify span{
    height: 2.5rem;
  }
  .ui-login-box .ui-identify input{
    height: 2.5rem;
  }
}
