main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: #f3f3f3;
  max-width: 450px;
}

.ui-tab a{
  text-decoration: none;
  color: #797979;
  font-size: 0.75rem;
}
.ui-tab li.active a{
  color: #c71212;
}
.ui-detail td a{
  display: inline-block;
  vertical-align: middle;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  color: #fff;
  background: #169bd5;
  text-decoration: none;
}
.ui-content {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 1rem;
}
.ui-content > div {
  text-align: center;
  width: 50%;
  font-size: 1rem;
  display: table-cell;
}
.ui-detail {
  width: 100%;
  text-align: center;
  border-color: #666;
}
.ui-detail th,
.ui-detail td {
  line-height: 1.5;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  text-align: center;
}
.ui-detail td{
  line-height: 2;
}
.ui-detail th {
  color: #fff;
  background: #ad98d6;
  border-bottom: 1px solid #aab3b5;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .05) inset;

}
.ui-detail tbody tr:nth-child(2n){
   background: #f3f3f5;
 }
.ui-detail tbody tr:nth-child(2n+1){
  background: #e5e5e5;
}
.ui-tab {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 5%;
}
.ui-tab li {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 25%;
  border: 1px solid #999;
  text-align: center;
  font-size: 0.5rem;
  line-height: 2.5;
  background: #e9e9eb;
}
.ui-tab li.active{
  background: #c3c3c3;
}
.ui-table-box{
  height: 65%;

  width: 100%;
}
.ui-table-box .ui-detail.active{
  display: table;
}
.ui-table-box .ui-detail{
  display: none;
}
.ui-table-box .ui-detail thead{
  width: 100%;
}

div.pullUp{
  position: absolute;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  background: #ccc;
  text-align: center;
  display: none;
}
span.pullUpLabel{
  vertical-align: middle;
}

form {
  height: 100%;
}

#wrapper {
  height: 100%;
  overflow: hidden;
}
