<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DBNativeWeb" value="Data Source=.; Initial Catalog=RYNativeWebDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBAccounts" value="Data Source=.; Initial Catalog=RYAccountsDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBPlatform" value="Data Source=.; Initial Catalog=RYPlatformDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBTreasure" value="Data Source=.; Initial Catalog=RYTreasureDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBRecord" value="Data Source=.; Initial Catalog=RYRecordDB; User ID=sa; Password=123456; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=.; Initial Catalog=RYGameMatchDB; User ID=sa; Password=123456; Pooling=true" />
    <!-- 站点Cookie名 建议修改-->
    <add key="CookiesName" value="RYRCQIPAI" />
    <!-- 用户登录缓存KEY值 建议修改-->
    <add key="UserLoginCacheKey" value="RYLoginCacheKeyValue" />
    <!-- 用户登录Cookies过期时间 单位分钟 不建议修改-->
    <add key="UserLoginCacheTimeOut" value="30" />
    <!-- 用户登录Cookies值加密的KEY值 建议修改 -->
    <add key="UserLoginCacheEncryptKey" value="RYLoginCacheEncryptValue" />
    <!-- 同步登录MD5加密KEY值 如果修改游戏客户端也需修改-->
    <add key="SyncLoginKey" value="RYSyncLoginKey" />
    <!-- 同步登录链接过期时间 单位毫秒-->
    <add key="SyncUrlTimeOut" value="120000" />
    <!-- 帐号申诉加密KEY值 建议修改-->
    <add key="ReportForgetPasswordKey" value="ReportForgetPasswordKeyValue" />
    <!-- 网站头部相关标签配置 -->
    <add key="keywords" value="网狐棋牌演示平台" />
    <add key="description" value="网狐棋牌演示平台" />
    <add key="title" value="网狐棋牌演示平台" />
    <!-- 网站头部相关标签配置 -->
    <!--微信充值-->
    <add key="WXNATIVEAPPID" value="test" />
    <add key="WXNATIVEMCHID" value="test" />
    <add key="WXNATIVEKEY" value="test" />
    <!--微信充值-->
    <!--支付宝充值-->
    <add key="zfbPartnerID" value="test" />
    <add key="zfbPartnerKey" value="test" />
    <!--支付宝充值-->
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 6A6B47A0-8C6B-4022-834D-95E26844CBA7-->