.ui-main-speedy {padding-top: 0;}
.ui-match-submenu { text-align: center; margin-bottom: 50px;}
.ui-match-submenu a {
  display: block;
  width: 268px;
  height: 48px;
  font-size: 20px;
  color: #6c5bba;
  line-height: 48px;
  border: 1px solid #ad9ef3;
  margin-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 5px;
  background: url("/images/left_submenu.png") no-repeat;
  position: relative;
}
.ui-match-submenu a:hover,
a.ui-submenu-active {
  text-decoration: none;
  background-color: #6c5bba;
  color: #fff;
  border-color: #6c5bba;
}
.ui-submenu-2 a {background-position: 0 -96px;}
.ui-submenu-3 a { background-position: 0 -192px;}
.ui-submenu-1 a:hover,
.ui-submenu-1 a.ui-submenu-active {background-position: 0 -48px;}
.ui-submenu-2 a:hover,
.ui-submenu-2 a.ui-submenu-active {background-position: 0 -144px;}
.ui-submenu-3 a:hover,
.ui-submenu-3 a.ui-submenu-active {background-position: 0 -240px;}
a.ui-submenu-active:before,
a.ui-submenu-active:after{
  content: "";
  position: absolute;
  top: 17px;
  width: 0;
  height: 0;
  border: 6px solid rgba(255, 255, 255, 0);
  border-right-width: 0;
}
.ui-submenu-1 a.ui-submenu-active:before,
.ui-submenu-2 a.ui-submenu-active:before,
.ui-submenu-3 a.ui-submenu-active:before {border-left-color: #ad9ef3; right: -7px;}
.ui-submenu-1 a.ui-submenu-active:after,
.ui-submenu-2 a.ui-submenu-active:after,
.ui-submenu-3 a.ui-submenu-active:after {border-left-color: #6c5bba; right: -6px;}

.ui-main-details {width: 680px; padding: 20px; min-height: 820px;}
.ui-match-list a {display: block; position: relative; font-size: 0; margin-bottom: 10px;}
.ui-match-state {position: absolute; top:-4px; left: -4px;}

.ui-news-paging { padding: 39px 0 25px; text-align: center; position: relative\9;}
.ui-news-paging a {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  color: #6c5bba;
  border: 1px solid #ad9ef3;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 4px;
}
.ui-news-paging a.ui-news-paging-prev,
.ui-news-paging a.ui-news-paging-next { width: 84px; }
.ui-news-paging a:hover,
a.ui-news-paging-active {
  color: #fff;
  background: #6c5bba;
  text-decoration: none;
}