<?xml version="1.0"?>
<MailTMLConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MailContent>
    <![CDATA[
<p>尊敬的{sitename}用户：</p>
<p>您好！</p>

<p>
恭喜您，申诉回执单号是 [<b>{reportNO}</b>] 的用户 [<b>{userName}</b>] 的申诉请求<font color="green">经审核通过</font>。
</p>

<p style="line-height:25px">
<strong style="color:green;">请注意：重置登录密码链接地址自发送邮件起 24 小时内有效。</strong><br />
您可以<a href="{url}">点击这里</a>打开重置登录密码页面输入您的新登录密码。
<br />
如果上面的链接无法打开，请复制下面的链接地址粘贴到浏览器地址栏，然后打开重置登录密码页面输入您的新登录密码。<br />
{url}
</p>

<p style="line-height:25px">
温馨提示：<br />
1、{sitename}统一申诉回复邮箱为 {mail} , 请注意邮件发送者，谨防假冒！<br />
2、 本邮件为系统自动发出，请勿回复。
</p>

==========================================================
<br />
{sitename}
<br />
]]>
  </MailContent>
  <MailTitle>{sitename}  帐号申诉成功(请不要答复此邮件)</MailTitle>

</MailTMLConfigInfo>