<?xml version="1.0"?>
<MailTMLConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MailContent>
    <![CDATA[
<p>尊敬的 {sitename} 用户：</p>
<p>您好！</p>

<p>
我们抱歉地通知您，申诉回执单号是 [<b>{reportNo}</b>] 的用户 [<b>{userName}</b>] 的申诉请求<font color="red">经审核未能通过</font>。
</p>

<p style="line-height:25px;">
<strong>原因如下：</strong><br />
{reason}
</p>

<p style="line-height:25px">
<strong>建议您：</strong><br />
1、填写申诉表单时，请尽可能详细的填写您记得的信息或游戏资料，切记每项资料都很重要。<br />
</p>
==========================================================
<br />
<p style="line-height:25px">
温馨提示：<br />
1、 {sitename}统一申诉回复邮箱为 {mail} , 请注意邮件发送者，谨防假冒！<br />
2、 本邮件为系统自动发出，请勿回复。
</p>
<br />
{sitename}
<br />
]]>
  </MailContent>
  <MailTitle>{sitename}  帐号申诉失败(请不要答复此邮件)</MailTitle>
</MailTMLConfigInfo>